<form class="{{cssClass}} flexcol" autocomplete="off">

    <div class="form-group">
        <label>Bluetooth Die Provider</label>
        <select name="bluetoothDieProvider">
            {{selectOptions bluetoothDieProviders selected=this.bluetoothDieProvider labelAttr="label"}}
        </select>
    </div>

    <section>
        {{#each dieTypes}}
        <div class="form-group" data-die="{{this.id}}">
            <label><i class="far {{this.icon}}"></i> {{this.id}}</label>
            <select name="{{this.id}}">
                {{selectOptions ../fulfillmentMethods selected=this.fulfillmentMethod}}
            </select>
        </div>
        {{/each}}
    </section>

    <section>
        <div class="form-group">
            <label>Search Nested Dice</label>
            <input type="checkbox" name="searchNestedDice" {{checked searchNestedDice}}>
        </div>
        <p class="note">Check this if you experiment issues with some rolls not getting triggered correctly and always defaulting to Foundry VTT Digital Rolls (e.g. some Pathfinder 2e damage rolls).</p>
    </section>

    <footer>
        <button type="submit"><i class="fa-solid fa-save"></i> {{localize "Save"}}</button>
    </footer>
</form>
