<form autocomplete="off">
    <div class="dice-roll">
        {{#if roll.options.flavor}}
            <div class="dice-flavor">{{roll.options.flavor}}</div>
        {{/if}}
        <div class="dice-result">
            <div class="dice-formula">{{roll._formula}}</div>
        </div>
    </div>

    <div>
        {{#each terms}}
            <div class="dice-term">
                {{#if this.faces}}
                    <span class="dice-term-faces">d{{this.faces}}</span>
                {{/if}}
                <input type="text" class="dice-term-input" name="{{this.id}}" min="1" max="{{this.faces}}"
                       placeholder="{{this.randomValue}}" />
            </div>
        {{/each}}
    </div>

    <div class="dialog-buttons">
        <button class="dialog-button ok default" data-button="ok">
            <i class="fas fa-check"></i>
            OK
        </button>
        <button class="dialog-button cancel" data-button="cancel">
            <i class="fas fa-times"></i>
            Cancel
        </button>
    </div>
</form>
