<form autocomplete="off">
    <div class="dice-roll">
        {{#if roll.options.flavor}}
        <h2>{{roll.options.flavor}}</h2>
        {{/if}}
        <div class="dice-formula">{{roll._formula}}</div>
    </div>
    <div class="terms">
        {{#each terms as |term i|}}
        <div class="dice-term flexcol" data-term="{{i}}">
            {{#if term.faces}}
                <i class="fa-solid {{term.icon}}"></i>
                <p class="dice-term-faces">d{{term.faces}}</p>
            {{/if}}
            <input type="number" class="dice-term-input" name="{{term.id}}" min="1" max="{{term.faces}}" step="1" data-term="{{i}}">
        </div>
        {{/each}}
    </div>
    <div class="dialog-buttons flexrow">
        <button type="submit" class="dialog-button ok default" data-button="ok">
            <i class="fas fa-check"></i>
            Submit
        </button>
    </div>
</form>
